/*
  three types of styling
    inline
      <h1 style="color:red">style</h1>
      use the style attribute to style
        individual elements
    internal
      use a style block in the head of the html
        to style the entire document.
    external
      use a css file to add styling to html.
      use the link tag in the head of the document
        to add the css file.

    css syntax
      selector {
        property: value;
      }

    selectors
      tag selector
      class selector

    css specificity
      tag selector
      class selector
      id selector
      inline styling

    !important 
      not recommended due to overriding default 
        behavior of css

    css
      cascading style sheet

    css box model
      margin
        border
          padding
            content
          padding
        border
      margin

    css combinators
      child selector
        selector > childSelector
      decendent selector
        selector childSelector
*/

/* tag selector
      a comma will allow you to grab multiple
*/
h1,
h4 {
  color: gray /* !important */;
  font-family: cursive;
}
/* class selector*/
.odd {
  color: blue;
}
/* id selector*/
#evenId1 {
  color: orange;
}
div {
  color: green;
}
span {
  color: red;
}
/* child selector*/
body > table {
  margin: auto;
}
/* html {
  color: yellow;
}
 */
/* table {
  margin: auto;
} */
/* decendent selector*/
body span {
  color: brown;
}
