<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>HelloTomcat</display-name>
  <welcome-file-list>
    <welcome-file>03-Front End/html/intro.html</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>indirect</servlet-name>
  	<servlet-class>com.web.servlet.IndirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>indirect</servlet-name>
  	<url-pattern>/redirect	</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>indirect</servlet-name>
  	<url-pattern>/forward</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>indirect</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
</web-app>